<div class="setup">
  <h3>Custom</h3>
  <div class="inputs">
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Name" type="string" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Time" type="string" formControlName="time">
      </mat-form-field>
    </form>
    <a mat-button [routerLink]="['/timer', form.value.time]" [queryParams]="{ name: form.value.name }">Start
      <mat-icon>arrow_forward</mat-icon>
    </a>
  </div>
  <div class="presets">
    <ng-container *ngIf="recent$ | async as recent">
      <h3 *ngIf="recent.length" class="recent">Recent
        <span>
          <button mat-icon-button (click)="loadRecents()" matTooltip="Load recent teas" matTooltipShowDelay="500"><mat-icon>folder_open</mat-icon></button>
          <button mat-icon-button (click)="saveRecents()" matTooltip="Save recent teas" matTooltipShowDelay="500"><mat-icon>save</mat-icon></button>
        </span>
      </h3>
      <tea-preset *ngFor="let r of recent" [setup]="r" (useSetup)="useSetup($event)"></tea-preset>
    </ng-container>
    <ng-container *ngIf="(recent$ | async).length < 3">
      <h3>Presets</h3>
      <tea-preset *ngFor="let preset of presets" [setup]="preset" (useSetup)="useSetup($event)"></tea-preset>
    </ng-container>
  </div>
</div>
