@import "../../constants";

:host {
  display: block;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
}

.timer {
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  color: rgba(0,0,0,.9);

  @media (min-width: $tablet-device) {
    font-size: 112px;
  }
}

.align-end {
  text-align: right;
  padding: 0 10px;
}

.done {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    $increase-size: 24px;
    $button-base: 58px;
    margin-left: 10px;
    height: $button-base + $increase-size;
    width: $button-base + $increase-size;

    mat-icon {
      $icon-base: 24px;
      font-size: $icon-base + $increase-size;
      height: $icon-base + $increase-size;
      width: $icon-base + $increase-size;
    }
  }
}
