<div class="licenses">
  <h1>Licenses</h1>
  <div class="section">
    <h3>This page</h3>
    <a href="https://github.com/lumer82/BrewYourTea">Github</a>
    <a href="https://github.com/lumer82/BrewYourTea/blob/master/LICENSE">License</a>
  </div>
  <div class="section">
    <h3>Images</h3>
    <h4>Teacup in favicon and notification</h4>
    <p>
      <a href="https://www.flickr.com/photos/forban/5872068364/">Source</a>
      <a href="https://creativecommons.org/licenses/by/2.0/legalcode">License</a>
    </p>
    <h4>Teapot as background</h4>
    <p>
      <a href="https://www.flickr.com/photos/nicmcphee/5075189902/">Source</a>
      <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode">License</a>
    </p>
  </div>
</div>

<tea-back-button></tea-back-button>
